<form [formGroup]="form">
    <div>
        <label for="old-password">Old Password</label>
        <input 
            formControlName="oldPassword"
            type="password" 
            class="form-control"
            id="old-password">
        
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword.errors?.['required']">Old Password is required.</div>
            <div *ngIf="oldPassword.errors?.['asyncVerifyPassword']">Incorrect password.</div>
        </div>
        <div *ngIf="oldPassword.touched && oldPassword.pending" class="alert alert-warning">Checking password...</div>
    </div>
    <div formGroupName="newPassword">
        <div>
            <label for="new-password">New Password</label>
            <input 
                formControlName="newPassword"
                type="password" 
                class="form-control"
                id="new-password">
            <div *ngIf="newPassword.touched && newPassword.errors?.['required']" class="alert alert-danger">New Password is required.</div>
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <input 
                formControlName="confirmPassword"
                type="password" 
                class="form-control"
                id="confirm-password">
                <div *ngIf="confirmPassword.touched && confirmPassword.errors?.['required']" class="alert alert-danger">Confirm Password is required.</div>
        </div>
        <div 
            *ngIf="newPassword.value.length > 0 
            && confirmPassword.value.length > 0 
            && newPasswordGroup.errors?.['confirmPasswordMatches']" 
            class="alert alert-danger">

            Passwords do not match.
        </div>
    </div>
    <button class=" btn btn-primary" [disabled]="form.invalid || form.pending">Change Password</button>
</form>